body{
    background-color: rgb(164, 190, 165);
}
.elemento_pai{
    border: 2px black solid;
}
.elemento_filho{
    border: orangered 2px solid;
    width: 100px;
    height: 20px;
    margin: 0;
}
button{
    color: pink 2px;
}
