body{
    background-color: rgb(164, 190, 165);
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 
    "cabeca"   /* areas do grid */
    "princi"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   /* tipo da fonte */
    margin: 0;
    padding: 0;
}
.elemento_pai{
    border: 2px black solid;
}
.elemento_filho{
    border: orangered 2px solid;
    width: 100px;
    height: 20px;
    margin: 0;
}
button{
    color: pink 2px;
}

footer{ 
    background-color: darkcyan;
    height: 70px;
}

main{
    

}

header{
    background-color: peru;
    height: 80px;
}